[https]
	proxy = socks5://127.0.0.1:7890
[http]
	proxy = socks5://127.0.0.1:7890
[user]
	email = kitechin@qq.com
	name = kitechin
[alias]
	cm = commit
	br = branch
	res = reset --soft
	reh = reset --hard
	st = status
	sw = switch
	co = checkout
    cp = cherry-pick

