[https]
	proxy = https://127.0.0.1:7890
[http]
	proxy = http://127.0.0.1:7890
[user]
	email = kitechin@qq.com
	name = kitechin
[alias]
	cm = commit
	br = branch
	res = reset --soft
	reh = reset --hard
	st = status
	sw = switch
	ch = checkout
    cp = cherry-pick

